.container_0 {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    min-height: 400px;
    background-color: #fff;
}

.paragraph {
    width: 50%;
}

.container_0_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #224E9F;
}

.container_0_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    margin-right: 50px;
}

.container_0_video {}

.container_1 {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    min-height: 400px;
    background-color: #fff;
}

.container_1_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #224E9F;
}

.container_1_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    margin-right: 50px;
}

.container_1_image1 {}

.container_2 {
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    min-height: 400px;
    background-color: #fff;
}

.container_2_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #224E9F;
    margin-left: 20px;
}

.container_2_boxes {
    display: flex;
    align-items: center;
}

.container_2_box {
    box-sizing: border-box;
    width: 340px;
    height: 220px;
    background: rgba(244, 188, 73, 0.08);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    /* margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; */
    margin: auto;
    padding: 20px;
    overflow: auto;
    box-sizing: content-box;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.container_3 {
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    min-height: 600px;
    background-color: #fff;
}

.container_3_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #224E9F;
    margin-top: 10px;
}

.container_3_boxes {
    display: flex;
    align-items: center;
}

.container_3_box {
    box-sizing: border-box;
    width: 350px;
    height: 380px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    margin: auto;
    padding: 20px;
    overflow: auto;
    box-sizing: content-box;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.container_3_box_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    color: #224E9F;
}

.container_3_box_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.container_3_box_button {
    margin-top: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    border: 0;
    outline: 0;
    background: #224E9F;
    cursor: pointer;
    white-space: nowrap;
}

.dims-container {
padding : 1rem 0rem 2rem 5rem ;

}


@media screen and (max-width: 1330px) {
    .container_2_box {
        width: 380px;
        height: 350px;
        margin: 1em;
    }
}


@media screen and (max-width: 1360px) {
    .container_3_box {
        width: 40%;
        height: 480px;
        margin: 10px;

    }
}