.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 15px;
}

.column-container {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
}

.element {
  color: black;
  font-size: larger;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: block;
  margin: 20px;
}

h2 {
  margin: 2rem;
  text-align: center;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #224E9F;
  margin-bottom: 10px;
}
h3 {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #224E9F;
  margin-bottom: 10px;
}
.link {
  margin-top: 1rem;
}

.item-area {
  justify-content: center;
  display: flex;
  margin: 1.5rem;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px 50px;
  background-color: lightgray;
  height: 500px;
  width: 350px;
}

.item-area-2 {
  display: flex;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  background: #FFFFFF;
  border: 2px solid #224E9F;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2rem;
}

.items-wrapper {
  text-align: center;
  align-items: top;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */ {
  border: 1px solid black;
  padding: 1rem;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-direction: column;
}

.scan-title {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #224E9F;
}

.scan-text {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  margin-bottom: 25px;
  margin-top: -15px;
}
.warning {
  color: red;
  margin: 0.5rem;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.select-competences {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  border-color: rgb(189, 181, 181);
  border-style: solid;
  border-width: 3px;
  border-radius: 15px 50px;
  background-color: rgb(201, 187, 173);
  height: 500px;
  width: 550px;
  padding: 2rem;
}

/* .competence {
  padding: 1rem;
    font-family: "Times New Roman", Times, serif;
} */

.units-selection {
  display: flex;
  justify-content: space-around;
}
.btn{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  border-radius: 5px;
  display: inline-block;
  border: 0;
  outline: 0; 
  background:  #224E9F;
  padding: 1px 10px;
  margin-top: 10px;
  height: 40px;
}
.table-container .inputs {
  overflow: hidden;
}
.table-container input, select{
  width: 95%;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 2px solid #224E9F;
  border-radius: 5px;
}
.table-container label{
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #224E9F;
}
.table-container select {
  width: 95%;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 2px solid #224E9F;
  border-radius: 5px;
}