.part_1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  /* min-width: 1536px; */
  min-height: 400px;
  background: linear-gradient(270deg, #BEE7EA 33.86%, rgba(244, 188, 73, 0.19) 99.87%, rgba(14, 1, 1, 0.704142) 99.88%, rgba(38, 21, 35, 0) 99.88%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.paragraph{
  
}
.part_1_title{
  margin-top: 20px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #161414;
}
.part_1_text{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
.part_1_image{
  width: 500px;
  height: 370px;
}
.part_2 {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  min-height: 400px;
}
.part_2_image{
  width: 50%;
  /* width: 700px;
  height: 300px; */
}
.part_2_title{
  padding-left : 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #224E9F;
}
.part_2_text{
  padding-left : 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
.part_3{
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  min-height: 400px;
}
.part_3_title{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #224E9F;
  margin-bottom: -20px;
}
.part_3_boxes{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  min-height: 400px;
}
.part_3_box{
  box-sizing: border-box;
  width: 250px;
  height: 200px;
  background: rgba(244, 188, 73, 0.08);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
  color: #224E9F;
  margin-left: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
}