.Initiatives1 {
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    /* min-width: 1536px; */
    min-height: 300px;
    background: linear-gradient(270deg, #E9D6D6 33.86%, rgba(244, 188, 73, 0.19) 99.87%, rgba(14, 1, 1, 0.704142) 99.88%, rgba(38, 21, 35, 0) 99.88%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Initiatives1_title {
    /* position: absolute;
    left: 60px; */
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 30px;
    color: #161414;
}

.Initiatives1_text {
    /* position: absolute;
    left: 60px; */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 29px;
    color: #161414;
}

/* .Initiatives1_btn{
    box-sizing: border-box;
    position: absolute;
    width: 180px;
    height: 40px;
    top: 200px;
    right: 200px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    padding: 0.7rem 1.5rem;
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #224E9F;
    border-radius: 5px;
    color: #224E9F;
    cursor: pointer;
    padding: 1px 10px;
    margin-top: 10px;
} */
.Initiatives2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.Initiatives2_title1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #224E9F;
    margin-top: 20px;
}

.Initiatives2_title2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #224E9F;
    margin-top: 20px;
    margin-left: 10px;
}

.Initiatives2_text1 {
    padding: 10px;
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #161414;
}

.Initiatives2_text2 {
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #161414;
    margin-bottom: 60px;
}

.Initiatives2_box1 {
    box-sizing: border-box;
    margin-right: 20px;
    max-width: 520px;
    height: 300px;
    background: #E5E5E5;
    margin-top: 20px;
    background-image: url("https://images.unsplash.com/photo-1498354178607-a79df2916198?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80");
    background-repeat: no-repeat;
    background-size: auto 130%;
    background-position: right center;
}

.Initiatives2_box2 {
    box-sizing: border-box;
    max-width: 520px;
    height: 300px;
    background: #E5E5E5;
    margin-top: 20px;
}

.Initiatives2_btn {
    box-sizing: border-box;
    margin-left: 20px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    padding: 0.7rem 1.5rem;
    background-color: #fff;
    box-sizing: border-box;
    border: 2px solid #224E9F;
    border-radius: 5px;
    color: #224E9F;
    cursor: pointer;
    padding: 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px
}

.check_dim {
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    margin-left: -400px;
}

.check_text_dim {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #224E9F;
    margin-left: -380px;
    margin-bottom: 20px;
    white-space: nowrap;
}