.comment {
  position: absolute;
  right: 150px;
  top: 120px;
  width: 450px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #ff6900;
  margin-bottom: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #224E9F;
  margin-bottom: 10px;
}

.box {
  /* margin-top: 100px; */
  margin-left: auto;
  margin-right: auto;
  /* width: 90%;   */
  background: #FFFFFF;
  box-sizing: border-box;
  background: #FFFFFF;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
}

@media (max-width: 980px) {
  .box {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

.box div {
  height: auto;
}

.user {
  border: 5px solid rgb(233, 204, 157);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.box h4 {
  position: relative;
  left: 105px;
  font-size: 16px;
  font-weight: 600;
  color: red;
  margin-bottom: 30px;
}

.box .inputs {
  overflow: hidden;
}

.box input {
  width: 90%;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 2px solid #224E9F;
  border-radius: 5px
}

.box select {
  width: 90%;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 2px solid #224E9F;
  border-radius: 5px;
}

.box textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 2px solid #224E9F;
  border-radius: 5px;
}

.box label {
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #224E9F;
}

.btn {
  /* float:left; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  border-radius: 5px;
  display: inline-block;
  border: 0;
  outline: 0;
  background: #224E9F;
  padding: 1px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 40px;
  white-space: nowrap;
}

.updateprofile_btn {
  width: 270px;
}

.form {
  max-width: 800px;
  margin: auto;
}

.centred-btn {
  display: flex;
  justify-content: center;
  text-align: center;
}

.last_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -350px;
}

.check_text {
  margin-left: -380px;
  margin-top: -20px;
}

.thanks {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
  color: #000;
}

@media screen and (max-width: 900px) {
  .sideimg {
    display: none;
  }
}