.searchbar{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 5rem; */
    min-height: 140px;
    /* background: rgba(244, 187, 72, 0.19); */
    background: rgb(252, 240, 216);
    position: sticky;
    top: 70px;
    z-index: 999;
    width: 100%;
}

.tags {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1280px) {
    .searchbar {
    padding-top: 10px;;
    }
    .search_result{
        width: 200px;
      }
}
.searchbar_title {
    margin-top: -5px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #161414;
    /* white-space: nowrap; */
}
.university{
    margin-left: 50px;
}

.university select {
    height: 40px;
    width: 270px;
    background: #fff;
    border-radius: 5px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.49);
}
.country{
    margin-left: 50px;
}
.country select {
    height: 40px;
    width: 270px;
    background: #fff;
    border-radius: 5px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.49);
}
.dimensions{
    height: calc(100vh - 210px);
    position: sticky;
    top: 210px;
    left : 0;
}
.competence{ 
    padding: 1rem;
    margin-bottom:-35px;
    margin-top: -80px;
}
.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: 'Inter',sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 20px;
    color: #224E9F;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #224E9F;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #ff6900;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.search_page{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.centred_results{
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.search_result{
  background: #E5E5E5 47%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  width: 550px;
  margin-left: -520px;
}
.initiative_name{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #224E9F;
  margin-top: -25px;
}
.initiative_desc{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color:black;
  max-width: 600px;
}
.initiative_tech{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color:#224E9F;
}

.filterbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-bottom: 1rem;
}