.track {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

.track td,
.track th {
  border: 1px solid #ddd;
  padding: 8px;
}

.track tr:nth-child(even) {
  background-color: #f2f2f2;
}

.track tr:hover {
  background-color: #ddd;
}

.track th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #224E9F;
  color: white;
}
