.mt-3 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    color: #224E9F;
    /* color: #000; */
}

h5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #224E9F;
    /* display: flex;
    justify-content: center; */
    margin-top: 10px;
}

.image {}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    padding: 0.7rem 1.5rem;
    background-color: #224E9F;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 320px;
    height: 40px;
    border: 0;
    outline: 0;
}

.submit-btn {
    border: 1px solid #C4C4C4;
    background-color: #C4C4C4;
}

.mt-3 {
    margin-top: 1rem;
    width: 65%;
}

.centred-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

.d-none {
    display: none;
}

.form-step {
    padding: 1.5rem;
    box-sizing: border-box;
    background: #E5E5E5 47%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.font-normal {
    font-weight: normal;
}

ul.form-stepper {
    counter-reset: section;
    margin-bottom: 5rem;
}

ul.form-stepper .form-stepper-circle {
    position: absolute;
    top: 30px;
}

ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* display: table; */
    width: 80%;
}

ul.form-stepper>li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

.form-stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0;
}

.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    content: "";
    top: 100%;
}

.form-stepper-horizontal li:after {
    background-color: #224E9F;
}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #224E9F;
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #224E9F;
    color: #fff;
}

.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #224E9F;
    color: #fff;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #C4C4C4;
    border: 2px solid #224E9F;
    color: #fff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #C4C4C4;
    border: 2px solid #224E9F;
    color: #fff;
}

.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #C4C4C4;
    color: #fff;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff;
}

.form-stepper .btn-navigate-form-step {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    box-sizing: border-box;
    border: 2px solid #224E9F;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    top: 65px;
    width: 216px;
    height: 40px;
}

.form-stepper a {
    cursor: default;
}

.first_step {
    background-image: url("https://images.unsplash.com/photo-1648737964403-a6a32ab43e53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: 35% 100%;
    background-position: right center;
}

.second_step {
    background-image: url("https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: 35% 100%;
    background-position: right center;
}

.third_step {
    background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: 35% 100%;
    background-position: right center;
}

@media screen and (max-width: 1300px) {
    .form-step {
        max-width: 1000px;
    }
}