.container {
  display: flex;
  margin: -10;
  padding: 0;
  min-width: 100%;
}

.charts-container {
  flex: 6;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  flex: 3;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: 600px;
  width: 600px;
}

.big-chart {

  text-align: center;
  flex: 3;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: 650px;
  width: 600px;
  
}

.big-container {

  align-items: center;
  justify-content: center;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 20px;
  color: #224E9F;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.small-chart {
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  flex: 3;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: 450px;
  width: 600px;
}

.small-chart-univ {
  flex: 3;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: 350px;
}

.chartTitle {
  margin: 0.5rem;
}

.chartText {
  font-size: 18px;
  margin: 0.5rem;
}

.gauge{
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center; 
}
.gaugeText {
  align-items: center;
  justify-content: space-between;
  text-align: center;
  display: flex;
}

.units-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebarList {
  display: flex;
  align-items: center;
}
.sidebarListItem {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebarListItem button{
  box-sizing: border-box;
  width: 265px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #224E9F;
  border-radius: 5px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #224E9F;
}
.sidebarListItem :focus{
  background-color: #F7D06B;
}
.unit{
  position: relative;
  top: 50px;
  margin-bottom: 30px;
}
.unit select {
  width: 30%;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 2px solid #224E9F;
  border-radius: 5px;
  margin-right: 10px;
}
.unit label{
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #224E9F;
}

.tooltip{
  width: 500px;
}

.formdashboard input {
  background: rgb(221, 221, 221);
  border-color: transparent;
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .chart {
    width: 450px;
  }
  .big-chart {
    width: 700px;
  }
  .small-chart {
    width: 450px;
  }
}