.popup{
    /* position: absolute;
    top : 212px;
    left : 365px; */
    max-width: 300px;
    background: #e5e5e5;
    display : flex ;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}
.popup-inner{
    position: relative;
    /* margin-left: -85px;
    margin-right: -85px; */
}
.popup-inner .closebtn{
    position: absolute;
    left: 95%;
    width: 20px;
    height: 20px;
    background-color: coral;
    border-radius: 3px;
    border: 0;
    outline: 0; 
}