body {
  background-repeat: repeat;
 }

.footer-container {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #224E9F;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
  font-family: 'Inter', sans-serif;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  margin: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.signature{
  color:#224E9F ;
}

