.navbar {
  background: #224E9F;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  max-width: 1500px;
}

.navbar-menu {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 20px;
  justify-content: end;
  text-align: center;
}

.navbar-item {
  height: 70px;
  margin: 0 5px;
}
.navbar-links {
  position: relative;
  left: 60px;
  font-family:'Inter', sans-serif;
  font-style: normal; 
  font-weight: 500; 
  font-size: 20px; 
  line-height: 29px;  
  color: #FFF8F8;  
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5m 1rem;
  height: 100%;
  white-space:nowrap;
  cursor: pointer;
}

.navbar-links:hover {
  border-bottom: 6px solid #fff;
  transition: all 0.2s ease-out;
}


.navbar-button {
  position: relative;
  left: 50px;
  font-family: 'Inter', sans-serif; 
  font-style: normal; 
  font-weight: 500; 
  font-size: 20px; 
  line-height: 29px; 
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  height: 100%;
  background-color: Transparent;
  border: none;
  white-space:nowrap;
  cursor: pointer;

}
.navbar-button:hover {
  border-bottom: 6px solid #fff;
  transition: all 0.2s ease-out;
}

.navbar-lang {
  position: absolute;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  right: 100px;
  top: 18px;
  right: 20px;
} 

.navbar-lang-item {
  background-color: transparent;
  border-color: transparent;
}
.navbar-lang-item:active {
  position: relative;
  top: 1px;
  background-color: rgb(214, 120, 91);
}
.navbar-lang-user{
  margin-left: 40px;
}
.navbar-irit {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 33px;
  top: 5px; 
}
.navbar-logo {
  position: absolute;
  width: 100px;
  height: 10px;
  left: 120px;
  top: 9px;
}
.navigation {
  /* position: relative;
  display: inline-block; */
  padding-top: 21px;
}

.navigation-content {
  display: none;
  position: relative;
  left: 60px;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navigation a {
  color: #fff;
  /* padding-top: 21px; */
  /* margin-top: 2px; */
  text-decoration: none;
  display: block;
  background-color: #224E9F;
}

/* .navigation a:hover {
  background-color: #224E9F;
  border-radius: 4px;
} */

.navigation:hover .navigation-content {
  display: block;
}


@media screen and (max-width: 1200px) {
  .navbar-menu {
    grid-gap: 4px;
    margin-left: -125px;
  }
}